@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        margin-bottom: 5px;
    }
   
    .filme-pricipal .container {
        background-size: cover;
        margin-top: 75px;
        text-justify: auto;
       
    }
    .filme-pricipal{
        height: 600px;
        background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50),rgba(0,0,0,0.50)100%),url(../img/celular.jpg);
        background-size: cover;
    }
    .bg_video{
        display: none;
        background: url(../img/celular.jpg);
    }
    .carrosel-filme{
        margin-top: 10px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
    .filme-pricipal{
        height: 670px;
    }
   
    .carrosel-filme{
        margin-top: 30px;
    }
}